<include file="Common:head"/>
<body class="gallerylist">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->

<link rel="stylesheet" type="text/css" href="__CSS__/lightbox.css" />
<style>
h2.title{font-size:24px;color: #ffff00;margin-bottom:20px;}
.gallerylist{}
.gallery{vertical-align:top;display:inline-block; _zoom:1;*display:inline;margin:0px 8px 20px 9px;text-align:center;}
.gallery .title{font-size:16px;margin:10px 0px 0px 0px;}
</style>
<script src="__JS__/lightbox.min.js"></script>
<div id="mainWrapper"> 
	<div id="mainContainer">
		<div id="contentContainer">
			<div id="sectionContainer">
				<!-- About MOD Content starts -->
				<div class="studentModContainer clearfix">
				    <h2 class="title">Student Makeup Gallery</h2>
					<div class="gallerylist">
					    <volist name="list" id="vo">
					     <div class="gallery">
					          <div class="img"><a href="{:SITE_PATH}Uploads/{$vo.pic|substr=1}" data-lightbox="roadtrip"><img src="{:SITE_PATH}Uploads/{$vo.pic|substr=1}" width="220"/></a></div>
					          <div class="title">{$vo.title}</div>
					          <div class="producer">{$vo.name}</div>
					     </div>
					    </volist>
					</div>
					<div class="pagination"><span>Page:</span>{$show}</div>
				</div>
				<!-- About MOD Content ends -->
			</div>
		</div>
	</div>
</div>

<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
</body>
</html> 