<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                    <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">{$type|ucfirst} Management</a> <span class="divider">/</span></li>
				    <li class="active">{$type|ucfirst} Management</li>
				    </ul>
				    <p>
				    <if condition="$type neq 'forget'">
					 <form >
					       <div class="input-append">
						    <a class="btn" href='{:U('clist')}'>Add {$type|ucfirst}</a>
						    </div>
					 </form>
					 </if>
					</p>
				<legend>{$type|ucfirst} Management</legend>	
				<div class="container">
				    <div class="row">
				     <div class="span10">
				         <table class="table table-striped">
			              <thead>
			                <tr>
			                    <th>ID</th>
			                    <th>Title</th>
			                    <th>Action</th>
			                    </if>
			                </tr>
			              </thead>
			              <tbody>
			               <volist name="list" id="vo">
			                <tr <if condition="$current eq $vo['id']">class="warning"</if>>
			                    <td>{$vo.id}</td>
			                    <td>{$vo.title}</td>
			                    <td>
			                    <a href="{:U('photo',array('pid'=>$vo['id']))}">Photos</a>&nbsp;&nbsp;<a href="{:U('clist',array('id'=>$vo['id']))}">Edit</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{:U('delNews',array('id'=>$vo['id']))}');">Delete</a></td>
			                   
			                </tr>
			                </volist>
			              </tbody>
			            </table>
				     </div>
				   </div>  
				</div>
	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>    
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }
</script>   
</body>
</html>