<include file="Common:head"/>
<body class="contact">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->
<style>
h2.title{font-size:24px;color: #ffff00;margin-bottom:20px;}
h3.title{font-size:18px;color: #ffff00;margin-bottom:10px;}
.student{width:659px;border-left:1px solid #757515;border-bottom:1px solid #757515;}
.student td,.student th{border-right:1px solid #757515;border-top:1px solid #757515;padding:5px 10px;text-align:center;}
.studentModContainer .leftCol{float:left;width:300px;}
.studentModContainer .rightCol{float:left;width:659px;}
.studentModContainer{position:relative;}
.userInfor{position:absolute;z-index:9;right:0px;top:-5px;}
.courselist .course a{font-size:14px;line-height:200%;color:#808000;text-decoration:none;padding-left:15px;}
.courselist .course a:hover,.courselist .active a{color:#ffff00;}
.courselist .active a{background:url(Public/images/icon.png) no-repeat left center;}
.userInfor p{padding-bottom:0px;line-height:1.2em;}
.download{display:none;}
.userInfor a{background:#757515;padding:1px 5px;color:#fff;text-decoration:none;}
</style>
<div id="mainWrapper"> 
	<div id="mainContainer">
	      
	      <div id="contentContainer">
			<div id="sectionContainer">
				<!-- About MOD Content starts -->
				<div class="studentModContainer clearfix">
				    <h2 class="title">Student Information</h2>
					<div class="leftCol">
					  <h3 class="title">Course Name</h3>
					  <div class="courselist">
					    <volist name="category" id="vo">
					     <div <if condition="$vo['id'] eq $cid">class="course active"<else/>class="course"</if>><a href="{:U('index',array('cid'=>$vo['id']))}">{$vo.etitle}</a></div>
					    </volist>
					  </div>
					</div>
					<div class="rightCol">
					  <h3 class="title">Documents Download</h3>
					  <div class="download" style="display:block;">
					    <table class="student">
					    <thead>
					       <tr>
					        <th>Date</th>
					        <th>Description</th>
					        <th>PDF</th>
					     </tr>
					    </thead>
					    <tbody>
					      <volist name="list" id="vo">
					       <tr>
					          <td>{$vo.created|date="Y-m-d",###}</td>
					          <td>{$vo.title}</td>
					          <td><if condition="$vo['pdf'] neq ''"><a href="{:SITE_PATH}{$vo.pdf|substr=2}" target="_blank"><img src="Public/images/pdf.png" /></a></if></td>
					       </tr>
					      </volist>
					    </tbody>
					  </table>
					  </div>
					  <if condition="$show neq ''">
					  <div class="pagination"><span>Page:</span>{$show}</div>
					  </if>
					  
					</div>
				</div>
				<!-- About MOD Content ends -->
			</div>
		</div>
	         
	</div>
</div>
<script>
 jQuery(function(){
	 jQuery(".logout").click(function(){
		 if(window.confirm('Are you sure to Logout?')){
			 $.get("{:U('Common/logout')}",function(data){
				 var url=data['url'];
				 window.location.href=url;
			 });
		 }
	 });
	 /* jQuery(".course").each(function(){
		 jQuery(this).click(function(){
			 var index=jQuery(this).index();
			 jQuery(this).addClass('active').siblings('.course').removeClass('active');
			 jQuery('.download').eq(index).show().siblings('.download').hide();
		 });
	 }); */
 });
</script>
<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
</body>
</html> 