<include file="Common:head"/>
<link  rel="stylesheet" type="text/css" href="__CSS__/course.css"/>
	<div id="box">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->

<div class="banners">
          <div class="containerwraper">
             <img src="{:SITE_PATH}Public/Img/Idea/banner.jpg" />
          </div>
   </div>
   <div id="pagemain" class="container">
      <div class="containerwraper coursewraper <if condition='$list.id neq 1'>coursewraper2</if>">
           <div class="contentwraper">
              <div class="leftColumn">
                    <div class="sectionlist">
                            <!--<div class="section <if condition='$list.id eq 2'>active</if>">
                               <a href="{:U('index',array('id'=>2))}" class="story"></a>
                            </div>
                            <div class="section <if condition='$list.id eq 3'>active</if>">
                               <a href="{:U('index',array('id'=>3))}" class="middleskill"></a>
                            </div>
                            <div class="section <if condition='$list.id eq 4'>active</if>">
                               <a href="{:U('index',array('id'=>4))}" class="highskill"></a>
                            </div>
                            <div class="section <if condition='$list.id eq 5'>active</if>">
                               <a href="{:U('index',array('id'=>5))}" class="westpainting"></a>
                            </div>
                            <div class="section <if condition='$list.id eq 6'>active</if>">
                               <a href="{:U('index',array('id'=>6))}" class="lnkpainting"></a>
                            </div>-->
                            <volist name="cate" id="vo">
                              <div class="section <if condition='$vo.id eq $id'>active</if>">
                                 <a href="{:U('index',array('id'=>$vo['id']))}">{$vo.title}</a>
                              </div>
                            </volist>
                    </div>
              </div>
              <div class="rightColumn">
                   <div class="pagetitle">{$list.title}</div>
                   <div class="description">{$list.content|html_entity_decode=###}
                      <div class="courselist">
                        <volist name="courseinfo" id="vo">
                          <div class="course" style="border: 1px solid {$vo.color};">
                            <div class="head" style="background: none repeat scroll 0 0 {$vo.color};">
                              <span>{$vo.title}</span><span class="age">{$vo.age}</span><span class="fit">{$vo.fit}</span>
                            </div>
                            <div class="main">
                              <div class="content">{$vo.content|html_entity_decode=###}</div>
                              <if condition="$vo.time neq ''"><div class="time">
                                <a data-lightbox="{$list.id}" href="<if condition="$vo.time neq ''">{:SITE_PATH}{$vo['time']}<else />javascript:void(0);</if>"><span>課程時間表</span></a>
                              </div></if>
                            </div>
                          </div>
                        </volist>
                      </div>
                   </div>
                   
              </div>
           </div>
      </div
<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
</body>
</html> 