
.contact{background:url(../Img/Contact/contactusbg.jpg) center top;}
.contact .contentwraper{padding-top:115px;padding-left:115px;float:left;}
.leftColumn{border:3px solid #fff;width:425px;float:left;}
.rightColumn{width:330px;float:left;margin-left:60px;line-height:24px;color:#666666;}
.rightColumn h4{font-size:15px;letter-spacing: 1px;}
.rightColumn .address{margin-bottom:20px;margin-top:-2px;}