
.newswraper{background:url(../Img/Cooperation/newsbg.jpg) center top;height:730px;}
.newswraper2{background:url(../Img/Cooperation/bg2.jpg) center top;height:2000px;}
.newswraper2 .contentwraper{padding-top:76px;padding-left:96px;float:left;}
.newswraper .contentwraper{padding-top:76px;padding-left:96px;float:left;}
.newswraper2 .newslist{overflow: auto;height:1850px;width:900px;}
.newswraper .newslist{overflow: auto;width:900px;}
.newslist .news{padding:20px 0px;border-top:1px dotted #bbbbbb;}
.newslist .first{border:none;}
.newslist .news,.newslist .news .img,.newslist .news .textwraper{vertical-align:top;display:inline-block; _zoom:1;*display:inline;}
.newslist .news .img{width:153px;border:3px solid #fff;}
.newslist .news .textwraper{margin-left:14px;width:720px;}
.newslist .news .date{padding-left:20px;color:#ff6600;margin-top:-6px;line-height:24px;background:url(../Img/Cooperation/arrow.jpg) no-repeat left center;}
.newslist .news .title a{color:#000;font-size:15px;letter-spacing: 1px;line-height:24px;font-weight:bold;}
.newslist .news .textwraper .text{color:#666666;line-height:20px;}
.newsdesc{font-size: 16px; line-height: 30px;}
.newsback{font-size: 14px; text-align: right;color:#000;}
.newsback a{color:#000;}
.newstitle{font-size: 18px; color: rgb(0, 0, 0); font-weight: bold; text-align: center;}