body, div, ul, li, span, a{margin:0px;padding:0px;}
ul, ol, li {list-style: outside none none;}
.banner{overflow: hidden;width: 1040px;}
.banner li {float: left; width: 1040px;}

.banner_btn{ width: 1040px;}

.banner_btn ul {float: right;width: 100px;margin-right: 20px;}
.banner_btn li {float: left;width: 20px;}
.banner_btn li img { cursor: pointer;}

.header {width:100%; height:25px; background-color:rgb(95,91,90); color:rgb(240,240,240); font-size:14px;}
.header-div {float:right; margin:3px 10px auto 20px;}
.header-div a:link {font-style:italic; color:rgb(240,240,240);}
.header-div a:visited {font-style:italic; color:rgb(240,240,240);}

.navigator {width:100%; height:90px;}
.logo-div {width:20%; float:left;}
.menu-div {width:760px; margin-top:40px; float:right;}
.menu-u   {float:right;}
.menu-u li {float: left;}
.menu-u li img { cursor: pointer;}

.contents {margin-top:30px;}

.section {border-left: 4px solid rgb(254,168,21); font-size:18px; font-weight:200;}
#left_arrow-a,#right_arrow-a {float: left; margin-top: 40px;}
#services-pic {float:left;}
#services-pic li {float:left; width:320px; margin: auto 5px;}
#services-pic li h3 {color:rgb(254,168,21);}

#section-about_gc {width:600px; float:left;margin:30px 25px 30px 0px;}
#section-about_gc>a>img {margin-top:20px;}

#section-news_event {width:360px; float:right;margin:30px 0px 30px 25px;}
#section-news_event>a>img {margin-top:50px;}
#section-news_event ul li {}
#section-news_event ul li a {float:left;margin:30px 0px 0px;}
#section-news_event ul li p {float:left;margin:30px 0px 0px 20px;}

.footer {width:100%; height:130px; background-color:rgb(95,91,90);margin-top:30px;}
.footer>div {padding-top:30px; text-align:center; color:rgb(240,240,240);}
.footer img {position:relative; top:5px;}
