
.ideawraper{background:url(../Img/Idea/ideabg.jpg) center top;height:720px;}
.ideawraper .contentwraper{padding-top:90px;padding-left:80px;width:920px;}
.ideawraper .text{color:#666;line-height:16px;}
.ideawraper h4{color:#000;font-size:15px;letter-spacing: 1px;line-height:64px;}
.ideawraper .leftColumn,.ideawraper .rightColumn{vertical-align:top;display:inline-block; _zoom:1;*display:inline;}
.ideawraper .rightColumn{width:335px;margin-left:20px;}
.ideawraper .leftColumn{width:550px;}