<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">{$type|ucfirst} Management</a> <span class="divider">/</span></li>
				    <li class="active">{$type|ucfirst} Management</li>
				    </ul>
				<legend><if condition="$list['id'] neq ''">Edit<else/>Add</if> {$type|ucfirst}</legend>	
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('save')}">
				    <div class="control-group">
				    <label class="control-label">Title:</label>
				    <div class="controls">
				    <input type="text" id="title" name="title" check="Require" warning="Title cann't be empty" value="{$list.title}" >
				    </div>
				    </div>
				      <div class="control-group">
				    <label class="control-label">Link:</label>
				    <div class="controls">
				    <input type="text" id="link" name="link"  value="{$list.link}" >
				    </div>
				    </div>
				     <div class="control-group">
				    <label class="control-label">Order:</label>
				    <div class="controls">
				    <input type="text" id="sid" name="sid" value="{$list.sid}" >(Order from Big to Small)
				    </div>
				    </div>
				     <div class="control-group">
				    <label class="control-label">Status:</label>
				    <div class="controls">
				      <input type="radio" id="status1" name="status" value="1" <if condition="$list['status'] neq '0'">checked="checked"</if> /><span class="help-inline">Yes</span> <input type="radio" id="status1" name="status" value="0"  <if condition="$list['status'] eq '0'">checked="checked"</if>/><span class="help-inline">No</span>
				    </div>
				    </div>
				    <input type="hidden" id="id" name="id" value="{$list.id}" />
				     <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn">Submit</button>
				    </div>
				    </div>
				    </form>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/common.js"></script>
<script>

jQuery(function(){
	commonAjaxSubmit('',"#myForm");
});
</script> 
</body>
</html>