<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">{$type|ucfirst} Management</a> <span class="divider">/</span></li>
				    <li class="active">{$type|ucfirst} Management</li>
				    </ul>
				<legend><if condition="$list['id'] neq ''">Edit<else/>Add</if> {$type|ucfirst}</legend>	
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('save')}" onsubmit="editor.sync();myForm.submit();">
                        <div class="control-group">
                        <label class="control-label">Title:</label>
                        <div class="controls">
                        <input type="text" id="title" name="title" check="Require" warning="Title cann't be empty" value="{$list.title}" >
                        </div>
                        </div>
                        <div class="control-group">
                        <label class="control-label">Catagory :</label>
                        <div class="controls">
                        <input type="text" id="cata" name="cid" value=<if condition="$list['id'] neq ''">"{$list.cid}"<else/>"{:I('get.catagory')}"</if> >
                        </div>
                        </div>
                        <div class="control-group">
                        <label class="control-label">Description (Optional) :</label>
                        <div class="controls">
                        <input type="text" id="desc" name="description" value="{$list.description}" >
                        </div>
                        </div>

                        <div class="control-group">
                        <label class="control-label">Preview Image:</label>
                        <div class="controls">
                        <input type="text" id="preview" name="preview" check="Require" warning="Preview image cann't be empty" value="{$list.preview}" >
                        </div>
                        </div>
                        <div class="control-group">
                        <label class="control-label">Images:</label>
                        <div class="controls">
                        <div id="image-group"></div>
                        <a class="btn" href="#" onclick="add_image('')">Add Image</a>
                        </div>
                        </div>
                        <input type="hidden" id="id" name="id" value="{$list.id}" />
                        <input type="hidden" id="type" name="type" value="{$type}" />
                        <div class="control-group">
                        <div class="controls">
                        <button type="button" class="btn" onclick="smt()">Submit</button>
                        </div>
                        </div>
				    </form>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/kindeditor/kindeditor.js"></script>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
function add_image(url) {
	var e=document.getElementById('image-group');
	var a=document.createElement('p');
	a.innerHTML='<input type="text" class="images" name="imgs[]" value="'+url+'"/>';
	e.appendChild(a);
}
function smt() {
	var imgs='';
	$(".images").each(function(){
		imgs+=$(this).val()+'|';
	});
	while(imgs.substr(-1,1)=='|'){
		imgs=imgs.substr(0,imgs.length-1);
	}
	var e=document.getElementById('image-group');
	e.innerHTML='';
	e=document.createElement('input');
	e.type='hidden';
	e.name='images';
	e.value=imgs;
	myForm=document.getElementById('myForm');
	myForm.appendChild(e);
	myForm.submit();
}
$(document).ready(function(){
	var id=<if condition="$list['id'] neq ''">{$list['id']}<else/>-1</if>;
	if(-1==id){
		add_image('');
	}
	else{
		var str="{$list['images']}";
		var imgs=str.split('|');
		for(var k in imgs){
			add_image(imgs[k]);
		}
	}
});
</script>
</body>
</html>