#homewraper{height:570px;}
#homewraper .containerwraper{float:left;}

.banners .containerwraper{position:relative;}
.banners .bannerswraper{position:absolute;z-index:9;right:104px;bottom:44px;width:470px;height:340px;}
.banners .bannerswraper .bannerbox{width:470px;height:330px;}
.banners .bannerswraper .bannerbox .bannerlist{position:absolute;z-index:9;left:20px;top:20px;width:424px;height:282px;}
.banners .pagination{float:right;margin-right:14px;}
.banners .pagination a{display:block;height:10px;width:10px;background:url(../Img/Base/dot.jpg) no-repeat center;float:left;margin:0px 5px;}
.slick-dots li button:before{color:#ed008c;font-size:11px;opacity:1;}
.slick-dots{text-align:right;bottom:-35px;}
.slick-dots li{margin:0px;}
.banners .bannerswraper{overflow:hidden;}
.banners{margin-bottom:25px;}

.line{border-bottom:1px dotted #bbbbbb;height:0px;width:100%;float:left;}

#news{width:270px;background:url(../Img/Index/newsbg.png) no-repeat center;height:480px;float:left;position:relative;}
#news .more{position:absolute;z-index:9;bottom:-14px;right:20px}
#news .newswraper{padding-left:44px;padding-top:70px;width:176px;overflow:hidden;}
#news .news{padding-top:15px;padding-bottom:10px;}
#news .news .date{color:#ff6600;padding-left:16px;background:url(../Img/Index/arrow.jpg) no-repeat left center;}
#news .news .title{padding-left:16px;}
#news .news .title a{color:#000;font-size:15px;line-height:32px;}
#news .news .text{padding-left:16px;color:#666666;line-height:18px;}


#works{float:left;width:406px;margin:0px 30px 0px 17px;}
#works .head{width:100%;height:60px;float:left;}
#works .head .title{float:left;width:210px;margin-left:-15px;}
#works .head .more{width:84px;float:right;margin-top:7px;}

#works .workslist{width:100%;float:left;text-align:center;}
.workslist .work{float:left;width:179px;margin:0px 12px 20px 12px;line-height:24px;}
.workslist .work .img{border:3px solid #fff;box-shadow:2px 2px 3px #d8d8d8}
.workslist .work .name{margin-top:10px;}
.workslist .work .name a{font-size:16px;color:#000;font-weight:bold;}
.workslist .work .infor{font-size:14px;color:#666666;}

#homewraper .rightcolumn{width:320px;float:left;}
#homewraper #award{width:180px;height:254px;padding:58px 100px 0px 40px;background:url(../Img/Index/awardbg.png) no-repeat center top;position:relative;margin-bottom:22px;}
#award .more{position:absolute;z-index:9;bottom:-26px;right:20px}
#award .awardwraper{padding:6px 0px;float:left;}
#award .awardwraper .title{float:left;padding-left:20px;background:url(../Img/Index/arrow.jpg) no-repeat 6px center;}
#award .awardwraper .text{font-size:13px;color:#666666;line-height:21px;margin:2px 0px;float:left;}
#award .awardwraper dl{width:100%;float:left;}
#award .awardwraper dt{float:left;margin-left:22px;margin-right:13px;}

#homewraper #contact{width:280px;height:170px;padding-left:40px;padding-top:70px;background:url(../Img/Index/contactbg.png) no-repeat center top;position:relative;}
#award .awardwraper .title,#homewraper #contact .title{color:#ff6600;font-size:15px;line-height:27px;}
#homewraper #contact .text{font-size:13px;line-height:27px;color:#000;}
