<include file="Common:head"/>
<div style="width: 1040px; margin: 0px auto; font-family:Arial; ">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->
<!-- banner -->
<div class="banner">
	<ul class="banner_u" style="left:0;position: relative;">
		<li><img src="{:SITE_PATH}Public/Img/GC/banner1.jpg" /></li>
		<li><img src="{:SITE_PATH}Public/Img/GC/banner2.jpg" /></li>
		<li><img src="{:SITE_PATH}Public/Img/GC/banner3.jpg" /></li>
		<li><img src="{:SITE_PATH}Public/Img/GC/banner1.jpg" /></li>
		<li><img src="{:SITE_PATH}Public/Img/GC/banner2.jpg" /></li>
	</ul>
</div>
<div class="banner_btn">
	<ul>
		<li><img s='1' src="{:SITE_PATH}Public/Img/GC/img_s.png" /></li>
		<li><img s='2' src="{:SITE_PATH}Public/Img/GC/img_e.png" /></li>
		<li><img s='3' src="{:SITE_PATH}Public/Img/GC/img_e.png" /></li>
		<li><img s='4' src="{:SITE_PATH}Public/Img/GC/img_e.png" /></li>
		<li><img s='5' src="{:SITE_PATH}Public/Img/GC/img_e.png" /></li>				
	</ul>
</div>
<!-- Contents -->
<div class="contents">
    <!-- Services Section -->
    <div id="section-services">
        <p><b class="section">&nbsp;&nbsp;Services</b></p>
        <div class="scrollable">
            <a id="left_arrow-a" href=""><img src="{:SITE_PATH}Public/Img/GC/left_arrow.png" /></a>
            <ul id="services-pic">
                <li>
                    <a href=""><img src="{:SITE_PATH}Public/Img/GC/service_pic1.jpg" /></a>
                    <h3>Media Awareness</h3>
                    <h4><i>Event title description</i></h4>
                    <p>Every brand is different. GC creates insightful analysis on the brand of clients to define their brand positioning and target consumers.</p>
                    <a href=""><img src="{:SITE_PATH}Public/Img/GC/more.png" /></a>
                </li>
                <li>
                    <a href=""><img src="{:SITE_PATH}Public/Img/GC/service_pic2.jpg" /></a>
                    <h3>Brand Building</h3>
                    <h4><i>Event title description</i></h4>
                    <p>Every brand is different. GC creates insightful analysis on the brand of clients to define their brand positioning and target consumers.</p>
                    <a href=""><img src="{:SITE_PATH}Public/Img/GC/more.png" /></a>
                </li>
                <li>
                    <a href=""><img src="{:SITE_PATH}Public/Img/GC/service_pic3.jpg" /></a>
                    <h3>Event Management</h3>
                    <h4><i>Event title description</i></h4>
                    <p>Every brand is different. GC creates insightful analysis on the brand of clients to define their brand positioning and target consumers.</p>
                    <a href=""><img src="{:SITE_PATH}Public/Img/GC/more.png" /></a>
                </li>
            </ul>
            <a id="right_arrow-a" href=""><img src="{:SITE_PATH}Public/Img/GC/right_arrow.png" /></a>
        </div>
    </div>
    <!-- About GC Section -->
    <div id="section-about_gc">
        <p><b class="section">&nbsp;&nbsp;About GC</b></p>
        <p>Established in 2014. GC Communications "GC", is a full-service event management and media marketing company based in Hong Kong.</p>
        <p>GC offers both traditional PR &amp; marketing services like event management, media awareness, brand building, and joint promotions, and online marketing service like Facebook optimization, community management, and iPhone/iPad/Facebook applications, online topics seeding and online buzz words tracking.</p>
        <a href=""><img src="{:SITE_PATH}Public/Img/GC/more.png" /></a>
    </div>
    <!-- News & Event Section -->
    <div id="section-news_event">
        <p><b class="section">&nbsp;&nbsp;News &amp; Event</b></p>
        <b>have trouble running an event? Leave it to GC team of expert event planner who had hosted</b>
        <ul>
            <li>
                <a href=""><img src="{:SITE_PATH}Public/Img/GC/brand.jpg" /></a>
                <p>Every brand is different. GC creates...</p>
                <div style="clear:both"></div>
            </li>
            <li>
                <a href=""><img src="{:SITE_PATH}Public/Img/GC/brand.jpg" /></a>
                <p>Every brand is different. GC creates...</p>
                <div style="clear:both"></div>
            </li>
        </ul>
        <a href=""><img src="{:SITE_PATH}Public/Img/GC/more.png" /></a>
    </div>
    <div style="clear:both"></div>
</div>
<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
</div>
<script src="{:SITE_PATH}Public/Js/jquery-1.8.2.min.js"></script>
<script src="{:SITE_PATH}Public/Js/slick.js"></script>
<script>
   jQuery(function(){
	   $('.bannerlist').slick({
	        dots: true,
	        autoplay:false,
	        fade:true,
	        arrows:false,
	        onInit:function(){
	        	jQuery('.bannerlist').removeAttr('style');
	        }
	    });
   });
   
</script>
<script>
var img_s_path="{:SITE_PATH}Public/Img/GC/img_s.png";
var img_e_path="{:SITE_PATH}Public/Img/GC/img_e.png";
var menu_home_image="{:SITE_PATH}Public/Img/GC/menu_home.png";
var menu_news_event="{:SITE_PATH}Public/Img/GC/menu_news_event.png";
var menu_about_gc="{:SITE_PATH}Public/Img/GC/menu_about_gc.png";
var menu_services="{:SITE_PATH}Public/Img/GC/menu_services.png";
var menu_gc_projects="{:SITE_PATH}Public/Img/GC/menu_gc_projects.png";
var menu_contact_us="{:SITE_PATH}Public/Img/GC/menu_contact_us.png";
var menuc_home_image="{:SITE_PATH}Public/Img/GC/menuc_home.png";
var menuc_news_event="{:SITE_PATH}Public/Img/GC/menuc_news_event.png";
var menuc_about_gc="{:SITE_PATH}Public/Img/GC/menuc_about_gc.png";
var menuc_services="{:SITE_PATH}Public/Img/GC/menuc_services.png";
var menuc_gc_projects="{:SITE_PATH}Public/Img/GC/menuc_gc_projects.png";
var menuc_contact_us="{:SITE_PATH}Public/Img/GC/menuc_contact_us.png";
$(document).ready(function (){linum=$(".banner_u li").length;w=1040*linum;$(".banner_u").css("width",w+"px");linums=$(".banner_btn li").length;w=20*linums;$(".banner_btn ul").css("width",w+"px");setTimeout(autopaly,5E3);$(".banner_btn li img").click(function(){var a=$(this).attr("s");cliplay(a)});
function autopaly(){linum=$(".banner_u li").length;w=1040*linum;1<$(".banner_u li").length&&(ml=parseInt($(".banner_u").css("left")),0>=ml&&0==ml%1040&&(ml==-1*(w-1040)?$(".banner_u").animate({left:"0px"},"slow"):$(".banner_u").animate({left:ml-1040+"px"},"slow"),playbtn((ml-2080)/-1040>linum?"1":(ml-2080)/-1040)));setTimeout(autopaly,5E3)}function cliplay(a){$(".banner_u").animate({left:-1040*(a-1)+"px"},"slow");playbtn(a)}
function playbtn(a){var b=$(".banner_btn li");$(b).each(function(b){$(this).find("img").attr("s")==a?$(this).find("img").attr("src",img_s_path):$(this).find("img").attr("src",img_e_path)})};
function clear_menuc(){$("#menu_home-image").attr('src',menu_home_image);$("#menu_news_event-image").attr('src',menu_news_event);$("#menu_about_gc-image").attr('src',menu_about_gc);$("#menu_services-image").attr('src',menu_services);$("#menu_gc_projects-image").attr('src',menu_gc_projects);$("#menu_contact_us-image").attr('src',menu_contact_us);};
(function init(){clear_menuc();$("#menu_home-image").attr("src",menuc_home_image);$("#menu_home-image").mouseover(function(){clear_menuc();$(this).attr("src",menuc_home_image)});$("#menu_news_event-image").mouseover(function(){clear_menuc();$(this).attr("src",menuc_news_event)});$("#menu_about_gc-image").mouseover(function(){clear_menuc();$(this).attr("src",menuc_about_gc)});$("#menu_services-image").mouseover(function(){clear_menuc();$(this).attr("src",menuc_services)});$("#menu_gc_projects-image").mouseover(function(){clear_menuc();$(this).attr("src",menuc_gc_projects)});$("#menu_contact_us-image").mouseover(function(){clear_menuc();$(this).attr("src",menuc_contact_us)});})();});
</script>
</body>
</html>