<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">Page Settings</a> <span class="divider">/</span></li>
				    <li class="active">{:L($type)} Management</li>
				    </ul>
				<legend>{:L($type)}</legend>	
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('index')}" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">banner:</label>
				    <div class="controls">
				     <input type="file" id="pic" name="pic" /><if condition="$list['pic'] neq ''"><span class="help-inline"><img src="{:SITE_PATH}{$list.pic|substr=2}" style="width:100px;"/></span></if>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">content en:</label>
				    <div class="controls">
				     <textarea id="content_en" name="content_en" class="content" style="visibility:hidden;width:600px; height:300px;">{$list.content_en}</textarea>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">content cn:</label>
				    <div class="controls">
				     <textarea id="content_cn" name="content_cn" class="content" style="visibility:hidden;width:600px; height:300px;">{$list.content_cn}</textarea>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">content tw:</label>
				    <div class="controls">
				     <textarea id="content_tw" name="content_tw" class="content" style="visibility:hidden;width:600px; height:300px;">{$list.content_tw}</textarea>
				    </div>
				    </div>
				    <input type="hidden" id="type" name="type" value="{$type}" />
				    <input type="hidden" name="id" value="{$list.id}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn">Submit</button>
				    </div>
				    </div>
				    </form>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/kindeditor/kindeditor.js"></script>
<script src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script>
KindEditor.ready(function(K) {
	editor = K.create('#content_en', {
					allowFileManager : true,
					urlType : 'domain'
	});
	editor = K.create('#content_cn', {
		allowFileManager : true,
		urlType : 'domain'
    });
	editor = K.create('#content_tw', {
		allowFileManager : true,
		urlType : 'domain'
    });
});
</script>    
</body>
</html>