<include file="Common:head"/><link  rel="stylesheet" type="text/css" href="__CSS__/cooperation.css"/>
	<div id="box">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->
   <div class="banners">
          <div class="containerwraper">
             <img src="{:SITE_PATH}Public/Img/News/banner.jpg" />
          </div>
   </div>

<div id="pagemain" class="container">
      <div class="containerwraper newswraper">
           <div class="contentwraper">
               <div class="newslist">
	                <volist name="list" id="vo">
						<div class="news <if condition="$i eq 1">first</if>">
		                   <div class="textwraper">
		                      <div class="date">{$vo.date|date="Y-m-d",###}</div>
		                      <div class="title"><a href="{:U('detail',array('id'=>$vo['id']))}">{$vo.title}</a></div>
		                   </div>
		                </div>
	                </volist>
	           </div>
	            <div class="pagination pagination-right">
                        <ul>
                          {$show}
                       </ul>
                   </div>
           </div>
      </div>
   </div>

<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
</body>
</html> 