<include file="Common:head"/><link  rel="stylesheet" type="text/css" href="__CSS__/achievement.css"/>
	<div id="box">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->

<div class="banners">
          <div class="containerwraper">
             <img src="{:SITE_PATH}Public/Img/Achievement/banner.jpg" />
          </div>
   </div>

   <!-- page-main -->
   <div id="pagemain" class="container">
      <div class="containerwraper achievementwraper">
           <div class="contentwraper">
              <div class="leftColumn">
                    <div class="sectionlist">
                            <div class="section <if condition="ACTION_NAME eq 'index'">active</if>">
                               <a href="{:U('index')}" class="student"></a>
                            </div>
                            <div class="section <if condition="ACTION_NAME eq 'work'">active</if>">
                               <a href="{:U('work')}" class="work"></a>
                            </div>
                            <div class="section <if condition="CONTROLLER_NAME eq 'Child'">active</if>">
                               <a href="{:U('Child/index')}" class="child"></a>
                            </div>
                    </div>
              </div>
              <div class="rightColumn">
                    <div class="achievementlist">
                         <volist name="list" id="vo">
                         <div class="achievement">
                             <div class="img"><a href="javascript:void(0);"><img src="{:SITE_PATH}Uploads/{$vo.pic}" width="230" /></a></div>
                             <div class="name"><a href="javascript:void(0);">{$vo.title}</a></div>
                             <div class="author"><a href="javascript:void(0);">學生名稱：{$vo.name}</a></div>
                         </div>
                         </volist>
                         <div class="pagination pagination-right">
                        <ul>
                          {$show}
                       </ul>
                   </div>
                    </div>
              </div>
           </div>
      </div>
   </div>
<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
</body>
</html> 