<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                    <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">Page Management</a> <span class="divider">/</span></li>
				    <li class="active">Page Management</li>
				    </ul>
				    <p>
					 <form >
					       <div class="input-append">
						    <a class="btn" href="{:U('Pageadmin/add')}">Add Page</a>
						    </div>
					 </form>
					</p>
				<legend>Page Management</legend>
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th>ID</th>
	                    <th>Title</th>
	                    <th>Action</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr>
	                    <td>{$vo.id}</td>
	                    <td>{$vo.title}</td>
	                    <td>
	                    <a href="{:U('Pageadmin/photos')}">Photos</a>&nbsp;&nbsp;
	                    <a href="{:U('Pageadmin/edit')}">Edit</a>&nbsp;&nbsp;<a href="{:SITE_PATH}index.php/Pageview/index/id/{$vo.id}">View</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{:U('Pageadmin/del')}');">Delete</a></td>
	                   
	                </tr>
	                </volist>
	              </tbody>
	            </table>
	            
	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>    
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }
</script>   
</body>
</html>