<include file="Common:head"/>
<body class="bridal bridalGallery">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->

<div id="mainWrapper"> 
	<div id="mainContainer">
		<div id="contentContainer">
			<div id="sectionContainer">
				<!-- Bridal Gallery Content starts -->
				<div class="bridalContainer clearfix">
					<h2><img src="images/bridal/title_gallery.png" alt="Bridal Gallery" /></h2>
					<div class="bridalGalleryContainer">
						<ul class="bridalGalleryContent">
							<li><img src="Public/images/bridal/gallery/bridal_1.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_2.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_3.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_4.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_5.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_6.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_7.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_8.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_9.jpg" alt="" /></li>
							<li><img src="Public/images/bridal/gallery/bridal_10.jpg" alt="" /></li>
						</ul>
					</div>
				</div>
				<!-- Bridal Gallery Content ends -->
			</div>
		</div>
	</div>
</div>

<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->
<script type="text/javascript" language="javascript">
	setBridalGallery();
</script>
</body>
</html> 