<include file="Common:head"/>
<body class="bridal bridalAbout">
<!-- Header starts -->
<include file="Common:header"/>
<!-- Header ends -->
<div id="mainWrapper"> 
	<div id="mainContainer">
		<div id="contentContainer">
			<div id="sectionContainer">
				<!-- About MOD Bridal Content starts -->
				<div class="bridalContainer clearfix">
					<h2><img src="Public/images/bridal/title.png" alt="About MOD Bridal" /></h2>
					<p>婚禮就是一生中將會經歷的重要典禮，是象徵一生己踏上幸福美滿的旅途。相信每個人都渴望擁有一個完美的婚禮，所以由場地、佈置、儀式、賓客、服裝…都必定一絲不苟; 而身為主角的更希望於婚禮展示最完美的一面，務求成為一生的甜美回憶。</p>
					<p>MOD Bridal提供專業新娘化妝及髮型設計服務，為所有新娘塑造出最幸福完美的面孔以配合一絲不苟的婚禮。任何形式及大小的婚禮，MOD Bridal團隊都能以專業級的水準，為新娘提供合適的妝容。</p>
					<p>MOD Bridal背後的團隊由一班專業化妝師組成，擁有優質的經驗、專業的化妝技巧及審美眼光。MOD Bridal 團隊目標與每一位新娘一致，以化妝技巧及髮型設計令新娘成為婚禮的華麗主角。</p>
				</div>
				<!-- About MOD Bridal Content ends -->
			</div>
		</div>
	</div>
</div>
<!-- Footer starts -->
<include file="Common:footer"/>
<!-- Footer ends -->

</body>
</html> 