<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">Member Management</a> <span class="divider">/</span></li>
				    <li class="active">Member Management</li>
				    </ul>
				<legend>Add Member</legend>	
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('save')}">
				    <div class="control-group">
				    <label class="control-label">Account:</label>
				    <div class="controls">
				    <input type="text" id="account" name="account" check="Require" warning="Account cann't be empty" >
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label" >Password:</label>
				    <div class="controls">
				    <input type="password" id="password" name="password" check="^.{4,20}" warning="Password cann't be empty,At least four" >
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label" >Confirm Password:</label>
				    <div class="controls">
				    <input type="password" id="repassword" name="repassword" checkSame="password" warning="Password and Confirm Password not the same">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Contact NO.:<span class="red">*</span></label>
				    <div class="controls">
				    <input type="text"  name="phone" id="phone">
				    </div>
				    </div>	
				        
				     	    
				    <div class="control-group">
				    <label class="control-label">Email:<span class="red">*</span></label>
				    <div class="controls">
				    <input type="text" warning="Please Input Correct Email!" check="Email" value="{$list.email}" name="email" id="email">
				    </div>
				    </div>
				   <div class="control-group">
				    <label class="control-label">Course:<span class="red">*</span></label>
				    <div class="controls">
				       <volist name="courses" id="vo">
				         <input type="checkbox" id="courses{$i}" name="courses[]" value="{$vo.id}" /><span class="help-inline">{$vo.etitle}</span>&nbsp;&nbsp;
				       </volist>
				    </div>
				    </div>
				     

				    
				    
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn">Submit</button>
				    </div>
				    </div>
				    </form>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/common.js"></script>
<script>
jQuery(function(){
	commonAjaxSubmit('',"#myForm");
});
</script>    
</body>
</html>