<include file="Common:header" />
<body>
<style>
.background {
display: block;
width: 100%;
height: 100%;
opacity: 0.4;
filter: alpha(opacity=40);
background:#000;
position: absolute;
top: 0;
left: 0;
z-index: 2000;
}
.progressBar {
border: solid 2px #86A5AD;
background: white url(__IMG__/load.gif) no-repeat 10px 10px;
}
.progressBar {
display: block;
width: 148px;
height: 28px;
position: fixed;
top: 50%;
left: 50%;
margin-left: -74px;
margin-top: -14px;
padding: 10px 10px 10px 50px;
text-align: left;
line-height: 27px;
font-weight: bold;
position: absolute;
z-index: 2001;
}
</style>
<div id="background" class="background" style="display: none; "></div>
<div id="progressBar" class="progressBar" style="display: none; ">Exporting Member</div>

<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                    <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">Member Management</a> <span class="divider">/</span></li>
				    <li class="active">Member Management</li>
				    </ul>
				     <legend>Search</legend>	
				 <form class="form-horizontal" method="post" action="{:U('index',array('model'=>$model))}">
				      <table class="">
			              <tbody>
			              <tr>
			               <volist name="fields" id="vo">
			                    <td>
			                     <div class="control-group">
									<label class="control-label">{:L($vo)}:</label>
									<div class="controls">
										<input type="text" id="{$vo}" name="{$vo}" value="{$map.$vo}" />
									</div>
								</div>
			                    </td>
				                <if condition="$key neq 0 and $key%3 eq 0">
				                    </tr><tr>
				                </if>
			                </volist>
			                </tr>
			              </tbody>
			            </table>
			            <div class="control-group">
							<div class="controls">
							<button class="btn" type="submit">Submit</button>&nbsp;&nbsp;<button class="btn" type="button" id="removeFilter">removeFilter</button>
							</div>
						</div>
				 </form>
				   <div class="row">
				        <span class="span4"><a  href='{:U('control')}' class="btn">Add Member</a></span>
				        <!-- <span class="span8"> 
				        <form class="form-inline" action="{:U('exportMember')}" method="post">
							        Export Number:
							        <select id="limit" name="limit">
									     <option value="0">Zero~Ten thousand</option>
										<option value="10000">Ten thousand~Twenty thousand</option>
										<option value="20000">Twenty thousand~Thirty thousand</option>
										<option value="30000">Thirty thousand~Forty thousand</option>
										<option value="40000">Forty thousand~Fifty thousand</option>
										<option value="50000">Fifty thousand~Sixty thousand</option>
										<option value="60000">Sixty thousand~Seventy thousand</option>
										<option value="70000">Seventy thousand~Eighty thousand</option>
										<option value="80000">Eighty thousand~Ninety thousand</option>
										<option value="90000">Ninety thousand~One hundred thousand</option>
									</select>
								    <button type="submit" class="btn">Export Member</button>
							 </form>
					   </span> -->
				   </div>
						
				<legend>Member Management</legend>	
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th>ID</th>
	                    <th>Name</th>
	                    <th>Status</th>
	                    <th>Login Time</th>
	                    <th>Action</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr>
	                    <td>{$vo.id}</td>
	                    <td>{$vo.account}</td>
	                    <td><if condition="$vo['status'] eq 1"><i class="icon-ok" /><else/><i class="icon-remove" /></if></td>
	                    <td>{$vo.login_count}</td>
	                    <td><a href="{:U('control',array('id'=>$vo['id']))}">Edit</a>&nbsp;&nbsp;<a href="{:U('control',array('id'=>$vo['id'],'tpl'=>'pwd'))}">Edit Password</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{:U('del',array('id'=>$vo['id']))}');">Delete</a></td>
	                </tr>
	                </volist>
	              </tbody>
	            </table>
	            
	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>    
<script>
jQuery(function(){

	var ajaxbg = $("#background,#progressBar");
	jQuery("#export").click(function(){
		ajaxbg.show();
		$.get("{:U('exportMember')}",function(data){
			data=eval("("+data+")");
			var url=data['url'];
			var status=data['status'];
			var info=data['info'];
			ajaxbg.hide();
			if(status==1){
				alert(info);
				window.location.href=url;
			}
		});
	});
});
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }
  jQuery("#removeFilter").click(function(){
		$.get("{:U('removeFilter')}",{model:'<?php echo $model;?>'},function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		         if(status==1){
		        //alert(info)
		        window.location.href=url;
		        } else alert(info); 
		});
	});
</script>   
</body>
</html>