<include file="Common:header" />
<body>
<style>
.form-horizontal label{font-size:12px;}
.form-horizontal .control-label{width:50px;}
.form-horizontal .controls{margin-left:60px;}
.form-horizontal .control-group{margin-bottom:10px;}
 input[type="file"]{width:140px;}
 input[type="text"]{border-radius:0px;height:20px;line-height:20px;}
 .error{color:red;}
 .row-fluid .span3{height:300px;overflow:hidden;}
 .thumbnail>img {height:100px;}
</style>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                    <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">Image Management</a> <span class="divider">/</span></li>
				    <li class="active">Image Management</li>
				    </ul>
				<legend>Image Management</legend>	
                <div class="row-fluid">
                   <div class="span8">
                            <ul class="thumbnails">
                              <volist name="list" id="vo">
                                <if condition="$i%4 eq 1">
                                 <li class="span3" style="margin-left:0px;">
                                <else/>
							    <li class="span3">
							    </if>
							    <div class="thumbnail">
							     
							    <img src="{$vo.url}" style="width:100%;max-height:120px;" >
							    <b>{$vo.filename}</b>
                                <p>Copy image url:</p><i>{$vo.refurl}</i>
							    <p><a class="btn" href="javascript:void(0);" onclick="edit('{$vo.filename}');">Edit</a> <a class="btn" id="delete" href="#" onclick="del('{:U('delImage',array('filename'=>$vo['filename']))}')">Delete</a></p>
							    </div>
							    </li>
							 </volist>
						    </ul>
						     <div class="pagination pagination-right">
					              <ul>
					                {$show}
					             </ul>
					         </div>
                   </div>
                   <div class="span4">
                   
					<legend>Upload image:</legend>
                    <form method="post" action="{:U('saveImage')}" enctype="multipart/form-data">
                        <input type="file" name="image_file" /><br/><br/>
                        <input type="submit" value="Upload" />
                    </form>
                   
                   </div>
                </div>
	           
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>
      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>
</body>
</html>