<include file="Common:header" />
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#"><if condition="$type eq 'about'">About MOD Photos<else/>Banners Management</if></a> <span class="divider">/</span></li>
				    <li class="active"><if condition="$type eq 'about'">About MOD Photos<else/>Banners Management</if></li>
				    </ul>
				<legend><if condition="$list['id'] neq ''">Edit<else/>Add</if> <if condition="$type eq 'about'">About MOD Photos<else/>Banners Management</if></legend>	
                    <form class="form-horizontal" id="bannerForm" method="post" action="{:U('save')}" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">Title:</label>
				    <div class="controls">
				    <input type="text" id="title" name="title" class="{required:true,messages:{required:'Title is require'}}" value="{$list.title}" >
				    </div>
				    </div>
				   
				    <div class="control-group">
				    <label class="control-label">Link:</label>
				    <div class="controls">
				    <input type="text" id="link" name=""link""  value="{$list.link}" >
				    </div>
				    </div>
				    <if condition="$type eq 'banner'">
				       <div class="control-group">
				    <label class="control-label">Tag:</label>
				    <div class="controls">
				    <input type="file" id="tag" name="tag"  value="{$list.tag}" ><p class="label label-important">(For the image on right hand corner)</p><if condition="$list[tag] neq ''"><span class="help-inline"><img src="{:SITE_PATH}Uploads/{$list.tag|substr=1}" width="100" /></span></if>
				    </div>
				    </div>
				    </if>
				     <div class="control-group">
				    <label class="control-label">Pic:</label>
				    <div class="controls">
				    <input type="file" id="pic" name="pic"  value="{$list.pic}" >
				    <if condition="$type eq 'about'">
				    <p class="label label-important">(size:472*360)</p>
				    <else/>
				    <p class="label label-important">(size:1080*475)</p>
				    </if>
				    <if condition="$list[pic] neq ''"><span class="help-inline"><img src="{:SITE_PATH}Uploads/{$list.pic|substr=1}" width="100" /></span></if>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Order:</label>
				    <div class="controls">
				    <input type="text" id="sid" name="sid"  value="{$list.sid}" >
				    </div>
				    </div>
				    <input type="hidden" id="id" name="id" value="{$list.id}" />
				     <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn">Submit</button>
				    </div>
				    </div>
				    </form>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery.form.js"></script>  
<script src="__JS__/jquery.validate.js"></script>   
<script src="__JS__/jquery.metadata.js"></script>     
<script>
$().ready(function() {
	 $("#bannerForm").validate({
		 onkeyup:false,
		 onfocusout:false,
		 submitHandler:function(form){
			 var options={
					 success:showResponse
			 };
			 $(form).ajaxSubmit(options);
		 },
		 errorClass:'help-inline error',
		 errorElement:'span'
	 });
});
function showResponse(data){
	var url=data['url'];
	var info=data['info'];
	if(url==''){
		url="__CONTROLLER__";
	}
	var status=data['status'];
	window.location.href=url+'/status/'+status+'/info/'+info;
}
</script>    
</body>
</html>