<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                    <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#"><if condition="$type eq 'about'">About MOD Photos<else/>Banners Management</if></a> <span class="divider">/</span></li>
				    <li class="active"><if condition="$type eq 'about'">About MOD Photos<else/>Banners Management</if></li>
				    </ul>
				    <p>
				    <if condition="$type neq 'forget'">
					 <form >
					       <div class="input-append">
						    <a class="btn" href='{:U('control',array('type'=>$type))}'>Add <if condition="$type eq 'about'">About MOD Photos<else/>Banners</if></a>
						    </div>
					 </form>
					 </if>
					</p>
				<legend><if condition="$type eq 'about'">About MOD Photos<else/>Banners Management</if></legend>	
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th>ID</th>
	                    <th>title</th>
	                    <th>Pic</th>
	                    <th>Action</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr <if condition="$current eq $vo['id']">class="warning"</if>>
	                    <td>{$vo.id}</td>
	                    <td>{$vo.title}</td>
	                    <td><if condition="$vo['pic'] neq ''"><img src="{:SITE_PATH}Uploads/{$vo.pic|substr=1}" width="100"/></if></td>
	                    <td><a href="{:U('control',array('id'=>$vo['id'],'type'=>$type))}">Edit</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{:U('del',array('id'=>$vo['id'],'type'=>$type))}');">Delete</a></td>
	                  
	                </tr>
	                </volist>
	              </tbody>
	            </table>
	            
	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>    
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

</script>   
</body>
</html>