<div class="header">
    <div class='header-div'>
        <i><a href=''>中</a>&nbsp;|&nbsp;<a href=''>EN</a></i>
    </div>
    <div class='header-div'>
        <i>Tel: 23557700</i>
    </div>
    <div class='header-div'>
        <i>E-Mail: mogreenle3151@gmail.com</i>
    </div>
</div>
<!-- Navigator -->
<div class="navigator">
    <div class="logo-div">
        <a href=""><img id="image-logo" src="{:SITE_PATH}Public/Img/GC/logo.png" ></img></a>
    </div>
    <div class="menu-div">
        <ul class="menu-u">
            <li><a href=""><img id="menu_home-image" src="{:SITE_PATH}Public/Img/GC/menu_home.png"></a></li>
            <li><a href=""><img id="menu_news_event-image" src="{:SITE_PATH}Public/Img/GC/menu_news_event.png"></a></li>
            <li><a href=""><img id="menu_about_gc-image" src="{:SITE_PATH}Public/Img/GC/menu_about_gc.png"></a></li>
            <li><a href=""><img id="menu_services-image" src="{:SITE_PATH}Public/Img/GC/menu_services.png"></a></li>
            <li><a href=""><img id="menu_gc_projects-image" src="{:SITE_PATH}Public/Img/GC/menu_gc_projects.png"></a></li>
            <li><a href=""><img id="menu_contact_us-image" src="{:SITE_PATH}Public/Img/GC/menu_contact_us.png"></a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
</div>
