<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>vkids</title>
<base href="{:SITE_PATH}{:THEME_PATH}" />
<meta charset="utf-8" />
<meta name="Description" content="vkids" />
<meta name="Keywords" content="vkids" />
<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi">
<link  rel="stylesheet" type="text/css" href="__CSS__/slick.css"/>
<link  rel="stylesheet" type="text/css" href="__CSS__/base.css"/>
<link  rel="stylesheet" type="text/css" href="__CSS__/home.css"/>
<link  rel="stylesheet" type="text/css" href="__CSS__/lightbox.css"/>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/lightbox.min.js"></script>
</head>
<body>
