   <div id="header">
      <div class="containerwraper">
         <div id="logo"><a href="{:U('Index/index')}"><img src="{:SITE_PATH}Public/Img/Base/logo.png" /></a></div>
         <div id="navwraper">
              <div class="navlist">
	              <a href="{:U('News/index')}" class="nav newsnav">最新消息</a>
	              <a href="{:U('Idea/index')}" class="nav ideanav">教學理念  </a>
	              <a href="javascript:void(0);" class="nav teachernav">導師團隊  </a>
	              <a href="{:U('Courses/index',array('id'=>1))}" class="nav artnav">藝術課程</a>
	              <a href="{:U('Achievement/index')}" class="nav awardnav">獎項及作品  </a>
	              <a href="{:U('Report/index')}" class="nav reportnav">報章報導  </a>
	              <a href="{:U('Cooperation/index')}" class="nav outsidenav">對外合作  </a>
	              <a href="{:U('Contact/index')}" class="nav contactnav">聯絡我們</a>
              </div>
              <div class="navlist-rollover">
	              <a href="news.html" class="rollover newsnav1"></a>
	              <a href="idea.html" class="rollover newsnav2">  </a>
	              <a href="javascript:void(0);" class="rollover newsnav3">  </a>
	              <a href="course.html" class="rollover newsnav4"></a>
	              <a href="achievement.html" class="rollover newsnav5">  </a>
              </div>
         </div>
		 
      </div>
   </div>